header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid;
  padding:  20px 30px;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-section:last-of-type {
  margin-top: 30px;
  justify-content: flex-end;
}

.header-section img:last-of-type {
  margin-left: 300px;
}

.header-section input{
  flex-grow: 0.8;
  font-size: 18px;
  height: 20px;
  border-radius: 25px;
  padding: 5px 15px;
}






