header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header-section{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.header-section:last-of-type {
  margin-top: 30px;
}

.header-section input{
  flex-grow: 0.8;
  font-size: 18px;
  height: 20px;
  border-radius: 25px;
  padding: 5px 15px;
}

.content-nav {
 width: 15%;
 display: inline-flex;
 justify-content: space-around;
}







