@import "navbar.css";
@import "header.css";
@import "cards.css";
@import "main.css";

:root {
  --white: #FFFFFF;
  --purple: #360568;
  --lila: #AD64F7;
  /*SVG colors  */
  --svg-nav-icon: invert(9%) sepia(31%) saturate(5912%) hue-rotate(260deg) brightness(117%) contrast(117%);
}

body,
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  background: var(--white);
}

.container {
  display: flex;
  grid-template-columns: (2, 2fr);
  grid-template-rows: (2, 1fr);
  height: 100%;
  width: 100%;
}
