@import "navbar.css";
@import "header.css";
@import "cards.css";
@import "main.css";

:root {
  --background: #D0CAC8;
  --white: #EBEBEB;
  --blue: #1D3249;
  --keppel: #16B69E;
  --text-content: #858585;
  /* border */
  --border: 5px double var(--blue);
  --box-shadow: 2px 2px 8px -5px var(--background);
  /*SVG colors  */
  --svg-icon-hover: invert(96%) sepia(0%) saturate(2%) hue-rotate(144deg) brightness(86%) contrast(94%);
  --svg-nav-icon: invert(6%) sepia(8%) saturate(4970%) hue-rotate(188deg) brightness(93%) contrast(90%);
  --svg-content-icon: invert(50%) sepia(93%) saturate(387%) hue-rotate(121deg) brightness(96%) contrast(90%);
}

body,
html {
  box-sizing: border-box !important;
  height: 100%;
  width: 100%;
  margin: 0;
  background: var(--blue);
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight:700;
  color: var(--white);
}

.container {
  display: flex;
  grid-template-columns: (2, 2fr);
  grid-template-rows: (2, 1fr);
  height: 100%;
  width: 100%;
}


