@import "navbar.css";
@import "header.css";
@import "cards.css";
@import "main.css";

:root{
 --navy: #16253B;
}

body, html{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  }

.container{
  display: flex;
  grid-template-columns: (2, 2fr);
  grid-template-rows: (2, 1fr);
  height: 100%;
  width: 100%;
}
