.content {
  width: 95%;
  padding-left: 20px;
  background-color: var(--blue);
}

.content-layout{
  display: grid;
  grid-template-columns: 70% 30%;
}
  article {
  width: 90%;
}

#last-update{
  margin-top: 100px
}




