.content {
  width: 100%;
}
main{
  padding: 10px 25px;
}

.content-layout {
  display: grid;
  grid-template-columns: 70% 30%;
  background: var(--purple);
  border-radius: 5px 0px 0px 0px;
}

article {
  width: 90%;
}

#last-update {
  margin-top: 100px
}
