.nav-container {
  width: 20vw;
  /* border-right: 3px blue solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nav-item {
  list-style: none;
  width: 100%;
}

.nav-link{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 45px;
  font-size: 18px;
  color: red;
  padding: 0px 10px;
}

.nav-section {
  margin-bottom: 75px;
  padding: 0px;
  width: 100%;
}


/* icons */
.nav-icon {
  width: 30px;
  padding: 5px 10px;
}

.nav-icon {
  filter: invert(27%) sepia(65%) saturate(28%) hue-rotate(346deg) brightness(154%) contrast(97%);
}



